{% extends 'base/base.html' %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>Martin Antonio</td>
            <td>Esquite Tistoj</td>
            <td>40</td>
            <td>mesquite275@gmail.com</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>Aaron Benjamin</td>
            <td>Esquite Castillo</td>
            <td>18</td>
            <td>aesquitecastillo@gmail.com</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
            </td>
        </tr>
        
    </tbody>
</table>

{% endblock %}

